NODE_ENV=development
PORT=2399

DB_TYPE=mssql
DB_HOST=localhost
DB_PORT=1433
DB_USERNAME=sa
DB_PASSWORD=your-password
DB_DATABASE=master
DB_SCHEMA=dbo

DB_SYNCHRONIZE=false
DB_LOGGING=false
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true

DB_CONNECTION_TIMEOUT=15000
DB_REQUEST_TIMEOUT=15000